body {
    background-image: url("images/אסקייפ.jpg");
    background-size: cover;
    display: grid;
    grid-template-areas: "header header header header header"
        "sidebar section section section section"
        "sidebar section section section section"
        "sidebar nav nav nav nav"
        "footer footer footer footer footer";
    gap: 5px;}


header {
    grid-area: header;
    margin: 20px;
    position: sticky;
    top: 10px;
    font-family: 'Redressed', cursive;
    font-size: xx-large;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.589);}


.section { grid-area: section;
    flex-wrap: wrap;
    height: 50vh;
}

nav {
    grid-area: nav;}


.sidebar {grid-area: sidebar;
    font-family: 'Redressed', cursive;
    font-size: large;
    box-sizing: border-box;
    margin: 20px;
    width: 11vw;
    height: 92vh;
    border: 4px solid black;
    color: white;
    background-color: rgba(0, 0, 0, 0.589);
    text-align: center;
}


.sidebar-content {
    display: none;
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.589);
    padding: 12px 16px;
}

.sidebar:hover .sidebar-content {
    display: block;
    width: 8.3vw;
    font-size: small;
    height: 70vh;
}

ul {
    position: absolute;
    padding: 0;
    margin: 0;
}

li {
    font-family: 'Redressed', cursive;
    text-align: center;
    display: inline-block;
    margin: 10px;
    color: white;
    list-style: none;
    position: relative;
    border: 2px solid black;
    background-color: black;
    transition: all 8s ease-in-out;
    top: 50px;
    animation: gallery 8s backwards infinite;
}


li:nth-child(1) {
    transform: rotate(-5deg);
}

li:nth-child(2) {
    transform: rotate(5deg);
}

li:nth-child(3) {
    transform: rotate(-5deg);
}

li:nth-child(4) {
    transform: rotate(5deg);
}

@keyframes gallery {
    from {
        left: 60%;
    }

    to {
        left: 20%;
        top: 0%;
    }
}

img {
    width: 200px;
    height: 200px;
    opacity: 0.7;
} 

img:hover {height: 250px;
width: 250px;
filter: blur(60%);}

p {
    font-size: x-large;
    font-family: 'Redressed', cursive;
    font-style: italic;
}

.VIDEO ,
.VID {
    padding: 25px  ;
}



button {
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    border-radius: 2px;
}
button:hover {background-color: black;
cursor: pointer;}

#p {margin: 30px;
    text-align: center;
    font-size: x-large;
    color: white;
    background-color: rgba(0, 0, 0, 0.589);

}
span { 
    font-family: 'Redressed', cursive;
font-size: x-large;
color: black;
text-shadow: 1px 1px 2px white;}


.footer {margin: 20px;
    grid-area: footer;
    text-align: center;
    margin-bottom: 5px;
    
}
@media screen and (max-width:360px)
/* For mobile phones */ 
{ body { 
    display: grid;
 grid-template-areas:
"header header"
 "sidebar sidebar"
 "section section"
 "nav nav "
 "footer footer";
 margin: 0px;
 padding: 0px;
}
 
 .section {
     display: inline-block;}
     img { width: 20px;
    height: 20px;}
 
header{
    display: flex;
    flex-wrap: wrap;
    grid-area: header;
    width: 325px;
    padding: 0px;
}
.sidebar{
    width: 325px;
height: 80vh;}
    li{text-align: center;}
    hr {display: none;}
    img {width: 128px;
    height: 90px;}

    #p{width: 230px;
    margin: 90px;}
.VID,
.VIDEO{display: block;
    width: 300px;
    grid-area: nav;
}}